body, html {
    height: 100%;
    background-color: dark;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card_signup {
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card_login {
    width: 30rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.signup_btn {
    width: 20rem;
    height: 2.5rem;
}

.login_btn {
    width: 20rem;
    height: 2.5rem;
}

.signup_text {
    font-size: xx-large;
}

.login_text {
    font-size: xx-large;
}
